---
title: Where do we go from here?
description: Where do we go from here?
author: Shane
---
<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
{{> navigation}}
<header class="intro-header" style="background-image: url('/img/mountainsunset.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">or a view of another</span>
                </div>
            </div>
        </div>
    </div>
 </header>
 <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Shane enjoys building stuff. Occasionally, there are breaks from building stuff, but then there's a return. </p>
            
        </div>
    </div>
</div>
<!-- base struct for this site came from https://github.com/IronSummitMedia/startbootstrap-clean-blog -->
{{> scripts}}
</body>
</html>