---
title: Where do we go from here?
description: Where do we go from here?
author: Shane
---
<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
{{> navigation}}
<div class="container-fluid">
	About
</div>
{{> scripts}}
</body>
</html>