---
title: Where do we go from here?
description: Where do we go from here?
author: Shane
---
<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
{{> navigation}}
<header class="intro-header" style="background-image: url('/img/mountainsunset.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Work</h1>
                    <hr class="small">
                    <span class="subheading">or some interesting things from the past</span>
                </div>
            </div>
        </div>
    </div>
 </header>
 <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>You should berate Shane for having this up and not having something here. </p>
            
        </div>
    </div>
</div>
{{> scripts}}
</body>
</html>