---
title: Where do we go from here?
description: Where do we go from here?
author: Shane
published: false
---
<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
{{> navigation}}
<!--start excerpt-->
<div class="container-fluid">
	first post
</div>
<!--end excerpt-->
{{> scripts}}
</body>
</html>