---
title: Gulp Troubleshooting
description: Easy way to see gulp errors
author: Shane
published: true
date: August 8, 2015
---
<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
{{> navigation}}
<header class="intro-header" style="background-image: url('/img/mountainsunset.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{this.title}}</h1>
                    <h2 class="subheading">{{this.description}}</h2>
                    <span class="meta">Posted by <a href="#">{{this.author}}</a> on {{this.date}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<!--start excerpt-->
When you've got a gulp problem, and one of your build tasks isn't completing, one easy way to see what's going on is to add .on("error", console.log) 
<!--end excerpt-->
into your pipe chain after that spot where you think you've got an error, or at the end of your task.  Then, when it reaches that error point, you'll get something written out to your log telling you what could be going on.  The details for this come from <a href="http://hmphry.com/error-handling-in-gulp-js">http://hmphry.com/error-handling-in-gulp-js</a>
            </div>
        </div>
    </div>
</article>
{{> scripts}}
</body>
</html>